.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow: auto;
}

.left {
    flex: 3;
    min-width: 900px;
    padding: 8px 18px;
}

.right {
    flex: 1;
    background-color: #d3d3d3;
    padding: 8px 18px;
}

.header {
    color: #7D7ABC;
}

.main {
    width: 100%;
    padding: 8px 18px;
}

hr {
    border: solid 2px #7D7ABC;
    border-radius: 2px;
}

.table-wrapper {
    margin-top: 20px;
}

table {
    width: 100%;
}

table thead {
    background-color: #6457A6;
    color: white;
    font-weight: bold;
}

table td {
    border: solid 1px white;
    padding: 6px;
}

table tbody > tr:nth-child(even) {
    background-color: #d3d3d3;
}

table .actions {
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}

button {
    border: none;
}

table .button {
    background-color: #6141ff;
    color: white;
    border-radius: 4px;
    padding: 4px 12px;
    text-decoration: none;
}

table .button:hover {
    background-color: #4d34c9;
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 360px;
    height: fit-content;
    background-color: white;
    border-radius: 12px;
    box-sizing: border-box;
}

.modal > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #7D7ABC;
    color: black;
    padding: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.modal .header > .title {
    font-weight: bold;
}

.modal .header > .button {
    background-color: #EF767A;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.modal > .content {
    padding: 12px;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.row.gap,
.column.gap {
    gap: 12px;
}

.list-todos {
    list-style: none;
    padding: 0;
}

.list-todos li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px;
    margin-bottom: 12px;
    border-bottom: solid 2px black;
}

.main .button {
    background-color: #6141ff;
    color: white;
    border-radius: 4px;
    padding: 4px 12px;
    text-decoration: none;
}

.icon {
    font-size: 12px;
}

.green {
    color: green;
}