.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left {
    flex: 3;
    min-width: 900px;
    padding: 8px 18px;
}

.right {
    flex: 1;
    background-color: #d3d3d3;
    padding: 8px 18px;
}

.header {
    margin: 12px;
    color: #7D7ABC;
}

.left hr {
    border: solid 2px #7D7ABC;
}

.left .table-wrapper {
    margin-top: 20px;
}

table {
    width: 100%;
}

table thead {
    background-color: #6457A6;
    color: white;
    font-weight: bold;
}

table td {
    border: solid 1px white;
    padding: 6px;
}

table tbody > tr:nth-child(even) {
    background-color: #d3d3d3;
}
